<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if (path !== "/dashboard") { %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% } %>
  <meta name=keywords content="کوتاه کننده لینک, کوتاه کننده آدرس, لینک کوتاه کن، کوتاه کردن لینک، آمار بازدید لینک" />
  <meta name=description content="کوتاه کننده لینک بهترین ابزار برای کوتاه کردن آدرس های طولانی می باشد، که می توانید با استفاده از آن لینک های خود را کوتاه نمایید و آمار بازدید آن را مشاهده کنید" />
  <meta property="og:locale" content="fa_IR"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="کوتاه کننده لینک کاتی | cutty.ir"/>  
  <meta property="og:url" content="https://cutty.ir/"/>
  <meta property="og:site_name" content="کاتی | cutty.ir"/>
  <meta property="og:description" content="کوتاه کننده لینک بهترین ابزار برای کوتاه کردن آدرس های طولانی می باشد، که می توانید با استفاده از آن لینک های خود را کوتاه نمایید و آمار بازدید آن را مشاهده کنید"/>
  <meta property="og:image" content="https://cutty.ir/img/logo.png"/>
  <meta property="article:publisher" content="کوتاه کننده لینک"/>
  <!-- <meta name="theme-color" content="#7952b3"> -->
  <!-- Favicons -->
  <link rel="icon" href="/img/favicon.ico">
  <link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="/css/bootstrap-rtl.css" rel="stylesheet">
  <!-- Custom fonts -->
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/app.css">
  
  
  <% if (path=="/shortened" ) { %>
    <link href="/css/shortened.css" rel="stylesheet">
  <% } %>

  <% if (path=="/index" ) { %>
    <link href="/css/index.css" rel="stylesheet">
  <% } %>

  <% if (path == "/dashboard") { %>
    <link href="/css/dashboard.css" rel="stylesheet">
  <% } %>

  <% if (path == "/stats") { %>
    <link rel="stylesheet" href="/css/stats.css">
  <% } %>
  
  <title><%=pageTitle%></title>
</head>

<body class="rtl bg-light d-flex flex-column min-vh-100">
  <!-- Navigation -->
<header>
  <nav class="nav_style navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <img src="/img/logo.png" width="45" class="shadow mr-2"></img><a class="navbar-brand ml-1" href="/">کوتاه کننده لینک</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="ml-0">
          
        </div>
        <ul class="navbar-nav ml-md-auto mb-md-2 mb-md-0 pl-0">
          <li class="nav-item ml-md-0 pr-md-1 mt-2 mt-md-0">
            <a class="btn btn-link text-light btn-sm <%= path === '/index' ? 'active' : '' %>" aria-current="page" href="/">خانه</a>
          </li>
          <li class="nav-item ml-md-0 pr-md-1 mt-2 mt-md-0">
            <a class="btn btn-link text-light btn-sm <%= path === '/stats' ? 'active' : '' %>" aria-current="page" href="/stats">آمار بازدید</a>
          </li>

          <% if (typeof user !== "undefined") { %>
  
            <li class="nav-item ml-md-0 pr-md-1 mt-2 mt-md-0">
              <a class="btn btn-outline-light btn-sm <%= path === '/dashboard' ? 'active' : '' %>" href="/dashboard">
                <%= user.fullname %>
              / داشبورد</a>
            </li>
            <li class="nav-item ml-md-0 mt-2 mt-md-0">
              <a class="btn btn-danger btn-sm" href="/dashboard/logout">خروج</a>
            </li>
                
          <% }else{ %>
            <li class="nav-item ml-md-0 mt-2 mt-md-0">
              <a class="btn btn-primary btn-sm" href="/dashboard/login">ورود / ثبت نام</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>