
<%- include("./includes/header.ejs") %> 
    
<div class="flex-grow-1 container pb-5 mt-5">
  <div class="py-5 text-center">
    <i class="d-block mx-auto mb-4 fa fa-check-circle check"></i>
    <h2>آدرس کوتاه شد</h2>
    <p class="lead">اکنون می توانید از آدرس کوتاه شده استفاده نمایید</p>
    <p class="lead">در صورتی که در سایت عضو باشید، می توانید آدرس های خود را مدیریت کنید</p>
    <%- include("./includes/messages.ejs") %> 
  </div>
  
  <div>
    <h4 class="mb-3">ویرایش آدرس</h4>
    <form class="needs-validation" action="/cut-url" method="POST" autocomplete="off">
      <div class="row row-cols-sm-2 row-cols-md-3">
        <div class="col-sm-10 col-md-6">
          <label for="cutUrl" class="form-label">آدرس کوتاه شده</label>
          <input type="text" name="cutUrl" id="cutUrl" readonly class="form-control" 
          style="direction: ltr;" placeholder="" value="<%= cutUrl %>">
        </div>
          
        <div class="col-sm-2 col-md-2 d-flex flex-column justify-content-end mt-2">
          <button type="button" id="btnCopy" class="btn shadow btn-primary"><i class="fa fa-copy"></i></button>
        </div>
      </div>
      
      <div class="row row-cols-md-3">
        <div class="col col-md-8 mt-3">
          <label for="updateUrl" class="form-label">ویرایش آدرس</label>
          <div class="input-group has-validation" style="direction: ltr;">
            <span class="input-group-text">cutty.ir/</span>
            <input type="text" class="form-control" name="updateUrl" id="updateUrl" maxlength="500" required placeholder="" 
            value="<%= updateUrl %>" >
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-lg mt-3" type="submit">ویرایش</button>
    </form>
  </div>
  
</div>
 
<%- include("./includes/footer.ejs") %> 
