<%- include('./includes/header.ejs') %> 

<div class="container-fluid flex-grow-1">

    <div style="height: 8rem;"></div>
    
    <!-- Topbar -->
    <div class="d-flex justify-content-center mb-4">
        <span class="lead">آی دی لینک مورد نظر را وارد کنید:</span>
    </div>
    <div class="row">
        <div class="col" style="direction: ltr;">
            <form action="/stats" method="POST" class="row justify-content-center">
                <input type="text" name="urlId" class="url_id p-2 shadow rounded border border-primary" placeholder="60b79b688be5...">
                <button class="btn btn-primary shadow mr-1" type="submit">آمار بازدید</button>
            </form>
        </div>
    </div>
    
    <!-- Content Row -->
    <div class="row mt-5 mx-auto w-100">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                تاریخ ایجاد لینک</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= createAt %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calendar fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                                آمار بازدید کل</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= totalVisits %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-line-chart fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-2">دسکتاپ
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= devices.desktop %> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-desktop fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
                                موبایل</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= devices.mobile %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-mobile fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2 mx-auto w-100">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                ویندوز</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= os.windows %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-windows fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                                مکینتاش</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= os.mac %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-apple fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-2">
                            اندروید</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= os.android %> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-android fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
                                آی او اس</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= os.ios %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-apple fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2 mx-auto w-100">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                کروم</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= browsers.chrome %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-chrome fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                                فایرفاکس</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= browsers.firefox %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-firefox fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-2">
                            سافاری</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= browsers.safari %> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-safari fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
                                ایج</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= browsers.edge %> </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-edge fa-2x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

</div>

<%- include('./includes/footer.ejs') %> 